form input {
	height: 40px;
	background-color: ;
	width: 300px;
	margin-left: 510px;
	margin-top: 20px;
	

}
body {
  background: url('video.png');
  background-size: cover;
}

.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
}
b {
	color: white;
	margin-bottom: 500px;
	margin-left: 550px;
	font-size: 17px;
}
#reg {
	font-family: cursive;
	font-size: 20px;
}
